body {
  /* background: #222; */
  background:
    url('../../images/stars.jpg')
    no-repeat
    center center
    fixed;
  background-size: cover;
  padding: 5vh 10vw;
  font-family: 'Work Sans', Helvetica, sans;
  line-height: 1.5;
  font-weight: 300;
  color: #999;

  @media w(768) {
    padding-left: 15vw;
    padding-right: 15vw;
  }

  @media w(1024) {
    padding-left: 20vw;
    padding-right: 20vw;
  }

  @media w(1280) {
    padding-left: 25vw;
    padding-right: 25vw;
  }
}

/* Typography */
h2 {
  font-weight: 300;
  /* font-size: 25px; */
  letter-spacing: 0.1rem;
  line-height: 1.8;
  color: #999;
  /* font size with postcss-responsive-type */
  font-size: responsive 18px 25px; /* min-size, max-size */
  font-range: 420px 1650px; /* viewport widths between which font-size is fluid */
}


h3 {
  /* reset margin */
  margin: 0;
  line-height: 0;
  font-weight: 600;
  letter-spacing: .03rem;
  color: #eee;
}

ul {
  margin-bottom: 3rem;
  padding-left: 1rem;
}

li {
  color: #ccc;
}

.nicer-bulleted-list li {
  list-style-type: none;
  position: relative;
  letter-spacing: .02rem;
  /* keep line height at 1 */
  line-height: 1;
  /* adjust line heigt w margin so bullets look right */
  margin-bottom: .5rem;

  &:before {
    content: ".";
    position: absolute;
    left: -1rem;
    bottom: 0;
    font-size: 200%;
  }
}

a {
  text-decoration: none;
  color: #eee;
}

/* Header */
/* compass logo */
$compassW: 80px;
$compassH: $compassW;
$needleW: calc($compassW / 2);
$needlePos: calc($needleW / 2);

.compass {
  width: $compassW;
  height: $compassH;
  border: 1px solid #888;
  margin: 0 auto 5vh;
  border-radius: 50%;
  opacity: 0.6;
}

.needle {
  width: $needleW;
  height: $needleW;
  position: relative;
  top: $needlePos;
  left: $needlePos;
  animation:
    needle-spin
    infinite 20s
    cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

@keyframes needle-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* Footer */
.nwl-logo {
  width: 200px;
  display: block;
  opacity: .5;
  position: relative;
  margin: 10vh 0;

  @media w(768) {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 5vh;
  }
}

/* CSSTransitionGroup Page Transitions */
.content-appear {
  opacity: 0.01;
}

.content-appear.content-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.content-enter {
  opacity: 0.01;
  color: red;
}

.content-enter.content-enter-active {
  opacity: 1;
  color: green;
  /* transition: all 1s ease-in; */
}

.content-leave {
  opacity: 1;
  color: blue;
}

.content-leave.content-leave-active {
  opacity: 0.01;
  color: gold;
  /* transition: all 1s ease-in; */
}

/* postcss-calc test */
/* body:before {
  content: "";
  width: calc(200px + 200px);
} */

/* postcss functions test */
/* body {
  background: green;
  @media w(768) {
    background: red !important;
  }
} */
