body {
  /* background: #222; */
  background:
    url('../../images/stars.jpg')
    no-repeat
    center center
    fixed;
  background-size: cover;
  padding: 10vh 15vw;
  font-family: 'Work Sans', Helvetica, sans;
}

/* Typography */
h2 {
  font-weight: 300;
  /* font-size: 25px; */
  letter-spacing: 0.1rem;
  line-height: 1.8;
  color: #999;
  /* font size with postcss-responsive-type */
  font-size: responsive 18px 28px; /* min-size, max-size */
  font-range: 420px 1650px; /* viewport widths between which font-size is fluid */
}

a {
  text-decoration: none;
  color: #eee;
}


/* Header */
.compass {
  width: 100px;
  height: 100px;
  border: 1px solid #888;
  margin: 0 auto 5vh;
  border-radius: 50%;
  opacity: 0.6;
}

.needle {
  width: 50px;
  height: 50px;
  position: relative;
  top: 25px;
  left: 25px;
  animation:
    needle-spin
    infinite 20s
    cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

@keyframes needle-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* Footer */
.nwl-logo {
  width: 200px;
  margin: 15vh auto;
  position: relative;
  display: block;
}

/* CSSTransitionGroup Page Transitions */
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.example-enter {
  opacity: 0.01;
  color: red;
}

.example-enter.example-enter-active {
  opacity: 1;
  color: green;
  transition: all 1000ms ease-in;
}

.example-leave {
  opacity: 1;
  color: blue;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  color: gold;
  transition: all 1000ms ease-in;
}

/* postcss-calc test */
/* body:before {
  content: "";
  width: calc(200px + 200px);
} */

/* postcss functions test */
/* body {
  background: green;
  @media w(768) {
    background: red !important;
  }
} */