/* Explody animation */
/* ----------------- */
.explodeme {
  user-select: none;
  cursor: default;
}

.word-wrapper,
.word-wrapper > span {
  display: inline-block;
}

.word-wrapper > span {
  z-index: 100;
}

/* Pre-initialized -- Imploding */
.imploding .word-wrapper {
  /* translate */
  transition:
    transform 1.5s cubic-bezier(0,.3,.4,1),
    opacity 1.5s;
}

.imploding .word-wrapper > span {
  /* rotation */
  transition:
    transform 2s cubic-bezier(0,.3,.4,1);
}

/* Post Initialized -- Imploding */
.initialized.imploding .word-wrapper {
  /* translate */
  transition:
    transform 1s cubic-bezier(0,.3,.4,1),
    opacity 10s;
}

.initialized.imploding .word-wrapper > span {
  /* rotation */
  transition:
    transform 1.5s cubic-bezier(.1,.01,.4,1);
}

/* Post Initialized -- Exploding */
.initialized.exploding .word-wrapper {
  /* translate */
  transition:
    transform 3s cubic-bezier(.05,.02,.4,1),
    opacity 10s;
}

.initialized.exploding .word-wrapper > span {
  /* rotation */
  transition:
    transform 15s cubic-bezier(0,.3,.4,1);
}
