/* Explody animation */
/* ----------------- */
.explodeme {
  user-select: none;
  cursor: default;
}

.explodeme span {
  display: inline-block;
}

/* Pre-initialized -- Imploding */
.imploding > span {
  /* translate */
  transition: transform 3s cubic-bezier(0,.3,.4,1), opacity 10s;
}

.imploding span > span {
  /* rotation */
  transition: transform 3s cubic-bezier(0,.3,.4,1);
}

/* Post Initialized -- Imploding */
.initialized.imploding > span {
  /* translate */
  transition: transform 2.3s cubic-bezier(0,.3,.4,1), opacity 10s;
}

.initialized.imploding span > span {
  /* rotation */
  transition: transform 2.7s cubic-bezier(.53,.01,.49,1);
}

/* Post Initialized -- Exploding */
.initialized.exploding > span {
  /* translate */
  transition: transform 3s cubic-bezier(.05,.02,.4,1), opacity 10s;
}

.initialized.exploding span > span {
  /* rotation */
  transition: transform 15s cubic-bezier(0,.3,.4,1);
}


